.overlay {
  margin: 16px 24px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  --index: 0;
  transform: translateX(-50%) translateY(calc(var(--index) * -30px))
    scale(pow(0.9, calc(var(--index) * 2)));
  opacity: calc(1 - var(--index) * 0.2);

  /* Enter Animation     */
  animation-duration: 0.2s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

/* @starting-style {
  .overlay {
    transform: translateX(-50%) translateY(100%);
  }
} */
