.overlay-container {
}

.overlay {
  margin: 16px 0;
  position: fixed;
  bottom: 0;
  left: 50%;

  --index: 0;
  transform: translateX(-50%) translateY(calc(var(--index) * -30px))
    scale(pow(0.9, var(--index)));

  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
}

@starting-style {
  .overlay {
    transform: translateX(-50%) translateY(100%);
  }
}

.overlay-container:hover .overlay {
  transform: translateX(-50%) translateY(calc(var(--index) * (-100% - 16px)));
}
