.overlay-container {
  --gap: 16px;
}

@starting-style {
  .overlay {
    transform: translateX(-50%) translateY(100%);
  }
}

.overlay {
  margin: var(--gap) 0;
  position: fixed;
  bottom: 0;
  left: 50%;

  --index: 0;
  transform: translateX(-50%) translateY(calc(var(--index) * -30px))
    scale(pow(0.9, var(--index)));

  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
}

.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  height: var(--gap);
  width: 100%;
}

.overlay-container:hover .overlay {
  transform: translateX(-50%)
    translateY(calc(var(--index) * (-100% - var(--gap))));
}
